<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
	  <add key="SystemMode" value="DEV"/>
	  <add key="ProcessInterval" value="10000"/>
	  <add key="InsID" value="372"/>
	  <add key="UserName" value="Z14a4HrxEOlcfyIs6t5xBw=="/>
	  <add key="Password" value="uZJZ6D7Gg2NEOSkgDuvzzg=="/>
	  <add key="Port" value="v6cnWztb+eRzt02AsFTJaA=="/>
	  <add key="Host" value="do5W1sg+dNE/HVBDDb3b6odYvrDlSNqz+iNRG1RE34w="/>	  
  </appSettings>
</configuration>