<script type="text/javascript">

    function AddNewItem() {
        $.ajax({
            type: 'POST',
            url: '/SystemAdmin/AddInvoiceItem',
            dataType: 'json',
            async: false,
            data: {
                ItemID: cbItemsInvoice.GetValue(),
                TotalHours: lbTotalHours.GetValue()
            },
            success: function (result) {
                if (result.Success == true) {
                    //pcAddNewLedger.Hide();
                    NewInvoiceGridView.PerformCallback();
                }
            }
        });
    }

    function InvoiceItemChange(s, e) {
        var ItemID = s.GetValue();

        if (ItemID === 106) {
            lbTotalHours.SetVisible(true);
            Quantity.SetVisible(true);
        }

        else {
            lbTotalHours.SetVisible(false);
            Quantity.SetVisible(false);
        }
    }

    function onBtnDeleteInvoiceClick(Result) {

        if (Result == "mrYes") {
            var InvoiceLinesID = NewInvoiceGridView.GetRowKey(NewInvoiceGridView.GetFocusedRowIndex());

            $.ajax({
                type: 'POST',
                url: '/SystemAdmin/DeleteNewInvoice',
                dataType: 'json',
                async: false,
                data: {
                    InvoiceLinesID: InvoiceLinesID
                },
                success: function (response) {

                }
            });

            pcDeleteInvoice.Hide();
        }
    }

</script>

@Html.DevExpress().Splitter(settings =>
{
    SplitterUtils.SetSplitterProperties(settings, ViewData["NewInvoiceLinesViewProperties"]);

    MVCxSplitterPane HeaderPane = (MVCxSplitterPane)settings.Panes[0];
    HeaderPane.SetContent(() =>
    {
        ViewContext.Writer.Write("<div ID=\"ViewInfo\">New Invoice</div><div style=\"margin:2px\"></div>");

    });

    MVCxSplitterPane MainContentPane = (MVCxSplitterPane)settings.Panes[1];
    MainContentPane.SetContent(() =>
    {
        Html.RenderAction("NewInvoiceLinesPartial");
    });

    MVCxSplitterPane FooterPane = (MVCxSplitterPane)settings.Panes[2];
    FooterPane.SetContent(() =>
    {

    });

}).GetHtml()


@MessageDlg.ShowMessageDlg("pcDeleteInvoice", Html, "Are you sure you want to delete the invoice?", new BtnType[] { BtnType.mbYes, BtnType.mbNo }, MessageType.mConfirmation, "onBtnDeleteInvoiceClick")