<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ConnectionString" connectionString="eCxCaYhvhcbmoh3wQOqSFG3SIZpjrun1Wo1l/zsfuPy/Ne62cIlzN9Up3G0+yHboDNphz/aOwFBaPrBmsxcgIJtSZRSUXbzkEYgGlo6eres+8tVSpDOihpS05AVQK9eB"
   providerName="System.Data.SqlClient" />
  <add name="EduSpecConnectionString" connectionString="Data Source=HENNIE-HP\SQL2017;Initial Catalog=EduSpec DEV;User ID=sa;Password=sql2017"
   providerName="System.Data.SqlClient" />
  <add name="EduspecService.Properties.Settings.EduSpec_DEVConnectionString"
   connectionString="Data Source=HENNIE-HP\SQL2017;Initial Catalog=&quot;EduSpec DEV&quot;;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="EduspecService.Properties.Settings.EduSpec_DEVConnectionString1"
   connectionString="Data Source=HENNIE-HP\SQL2017;Initial Catalog=&quot;EduSpec DEV&quot;;Persist Security Info=True;User ID=sa;Password=sql2017"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="ProcessInterval" value="10000"/>
		<add key="MailTimeOut" value="100000"/>
		<add key="SystemMode" value="DEV"/>
		<add key="UserName" value="Z14a4HrxEOlcfyIs6t5xBw=="/>
		<add key="Password" value="uZJZ6D7Gg2NEOSkgDuvzzg=="/>
		<add key="Port" value="v6cnWztb+eRzt02AsFTJaA=="/>
		<add key="Host" value="do5W1sg+dNE/HVBDDb3b6odYvrDlSNqz+iNRG1RE34w="/>
		<add key="RegisteredMailPassword" value="MFhLZVneFEMe1d2Qdb1Cuw=="/>
		<add key="RegisteredMailUserName" value="Jftnv4ZOLACYFBe5oYUr3w5zFYCGKMtcFxKsinX6EGE="/>
		<add key="RegisteredMailHost" value="rpXUf8GhqPtUhrQh1mOUZzPWntm0Y+CS/+3vCiffuos="/>
		<add key="RegisteredMailPort" value="QbaMvlyAc+lbFTOaQ7m/wQ=="/>
	</appSettings>
</configuration>