<table style="border-top: 1px solid silver; padding:2px" width="100%">
    <tr>
        <td width="70"><strong>STATUS:</strong></td>
        <td width="30"><img align="middle" src="~/Content/GridImages/Limit_Green.png" /></td>
        <td><strong>Current</strong></td>
        <td width="30"><img align="middle" src="~/Content/GridImages/Limit_Blue.png" /></td>
        <td><strong>30 days in arrears</strong></td>
        <td width="30"><img align="middle" src="~/Content/GridImages/Limit_Yellow.png" /></td>
        <td><strong>60 days in arrears</strong></td>
        <td width="30"><img align="middle" src="~/Content/GridImages/Limit_Red.png" /></td>
        <td><strong>90 + days in arrears</strong></td>
    </tr>
</table>

